<div class="jumbotron text-center">
    <h1>Дерево элементов</h1>

    <p>{{ message }}</p>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li id="0" ng-repeat="node in nodes" ng-node ng-include="'node-tree'"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="node-tree">
    {{node.id}}__{{ node.text }}
    <ul ng-if="node.nodes">
        <li id="{{node.id}}" parent="{{node.parent}}" ng-repeat="node in node.nodes" ng-node ng-include="'node-tree'"></li>
    </ul>
</script>