<div class="jumbotron text-center">
    <h1>Дерево элементов</h1>

    <p>{{ message }}</p>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="node" id="0">
                        <div class="dropdown">
                            <i class="fa fa-plus-square"></i>
                            <div class="node" ng-node="handleEvent($event)">Родительский узел</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
